<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cards Against Humanity</title>
        <script type="text/javascript" src="/scripts/game.js"></script>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div id=log></div>

        {{$player_id := .CurrentPlayer.ID}}
        <input hidden type="number" id="player_id" name="player_id" value="{{$player_id}}" />
        <input hidden type="checkbox" id="czar" name="czar" value="1" {{if .CurrentPlayer.Czar }}checked{{end}}/>
        <div>
            {{if .CurrentPlayer.Czar }}CZAR {{end}}{{.CurrentPlayer.Name}}
        </div>
        <div id="black_card">{{.CurrentBlackCard.Text}}</div>
        <form id="form">
            <input hidden id="checked" type="number" /> <!-- TODO: work with black cards with more selections -->
            <input hidden id="min_checked" type="number" value="1" /> <!-- TODO: work with black cards with more selections -->
            {{if .CurrentPlayer.Czar}}
                <div id="white_cards"></div>
                <input type="submit" id="submit" value="Select winning card" /> <!-- TODO: work with black cards with more selections -->
            {{else}}
                <div id="white_cards">
                    {{range $index, $card := .CurrentPlayer.Cards}}
                        <!-- TODO: work with black cards with more selections -->
                        <input required type="radio" name="cards" id="card_{{$index}}" value="{{$index}}" />
                        <label id="lbl_{{$index}}" for="card_{{$index}}">{{$card}}</label>
                        <br>
                    {{end}}
                    <input type="submit" id="submit" value="Select cards to play" /><!-- TODO: work with black cards with more selections -->
                </div>
            {{end}}
        </form>
    </body>
</html>