<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cards Against Humanity</title>
        <script type="text/javascript" src="/static/script.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id=log></div>
        {{if not .CurrentPlayer}}
            <form id="setup_form" method="POST">
                <!-- czar player name -->
                <input type="text" id="player_name" name="player_name" size="64" placeholder="Enter your name to play" autofocus />
                <input type="submit" value="Play" />
                <br>
                {{if not .CurrentBlackCard }}
                    <!-- set selection -->
                    {{ range $index, $element := .Sets }}
                        <input type="checkbox" name="sets" id="set_{{$index}}" value="{{$index}}">
                        <label for="set_{{$index}}">{{$element.Name}}</label>
                        <br>
                    {{end}}
                {{end}}
            </form>
        {{else}}
            {{$player_id := .CurrentPlayer.ID}}
            <input hidden type="number" id="player_id" name="player_id" value="{{$player_id}}" />
            <input hidden type="checkbox" id="czar" name="czar" value="1" {{if .CurrentPlayer.Czar }}checked{{end}}/>
            <div>
                {{if .CurrentPlayer.Czar }}CZAR {{end}}{{.CurrentPlayer.Name}}
            </div>
            <div id="black_card">{{.CurrentBlackCard.Text}}</div>
            <form id="form">
                {{if .CurrentPlayer.Czar}}
                    <div id="white_cards"></div>
                    <input type="submit" value="Select winning card" />
                {{else}}
                    <div id="white_cards">
                        {{range $index, $card := .CurrentPlayer.Cards}}
                            <!-- TODO: work with black cards with more selections -->
                            <input type="radio" name="cards" id="card_{{$index}}" value="{{$index}}" />
                            <label id="lbl_{{$index}}" for="card_{{$index}}">{{$card}}</label>
                            <br>
                        {{end}}
                        <input type="submit" value="Select cards to play" />
                    </div>
                {{end}}
            </form>
        {{end}}
    </body>
</html>