<!DOCTYPE html>
<html lang="en">
<head>
<title>Cards Against Humanity</title>
<script type="text/javascript">
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    document.getElementById("form").onsubmit = function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        conn.send(msg.value);
        msg.value = "";
        return false;
    };

    if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws");
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        conn.onmessage = function (evt) {
            var messages = evt.data.split('\n');
            for (var i = 0; i < messages.length; i++) {
                var item = document.createElement("div");
                item.innerText = messages[i];
                appendLog(item);
            }
        };
    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(item);
    }
};
</script>
<style type="text/css">
#black_card {
    background-color: black;
    color: white;
}
</style>
</head>
<body>
    {{if not .CurrentPlayer}}
    <form id="setup_form" method="POST">
        <!-- czar player name -->
        <input type="text" id="player_name" name="player_name" size="64" autofocus />
        <input type="submit" value="Play" />
        <br>
        {{if not .CurrentBlackCard }}
            <!-- set selection -->
            {{ range $index, $element := .Sets }}
                <input type="checkbox" name="sets" id="set_{{$index}}"value="{{$index}}">
                <label for="set_{{$index}}">{{$element.Name}}</label>
                <br>
            {{end}}
        {{end}}
    </form>
    {{else}}
    <form id="form">
        <div id="black_card">{{.CurrentBlackCard.Text}}</div>
        <fieldset>
            <legend>Select the best answer</legend>
            <div id="white_cards">
            {{if .CurrentPlayer.Czar }}
                <!-- other players white cards suggestions as they arrive -->
                <div id="log"></div>
            {{else}}
                <!-- your white cards to submit -->
                <!-- checkbox, pick limited with javascript -->
            {{end}}
            </div>
        </fieldset>
        <input type="submit" value="Play" />
    </form>
    {{end}}
</body>
</html>